// Fonts
@font-face {
  font-family: 'Muller';
  src: url('@{themePath}fonts/MullerMedium.eot'); /* IE9 Compat Modes */
  src: url('@{themePath}fonts/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('@{themePath}fonts/MullerMedium.woff') format('woff'), /* Pretty Modern Browsers */
       url('@{themePath}fonts/MullerMedium.ttf')  format('truetype'); /* Safari, Android, iOS */
}

// Bootstrap variable overrides
$enable-responsive-font-sizes: true;

$brand-primary: #e45620;
$body-color: #3a3a3a;
$brand-grey: #565759;
$purple: #463497;

$theme-colors: (
  "primary": $brand-primary,
  "orange": $brand-primary,
  "blue": #0281c8,
  "info": #0281c8,
  "purple": $purple,
  "red": #e3350f,
  "navbarInit": #e33512,
  "brandGrey": #565759,
);

$font-family-sans-serif: "Muller", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Modals
$modal-inner-padding:               1.5rem;
$modal-content-border-color:        white;
$modal-content-border-radius:       0;
$modal-backdrop-bg:                 $brand-primary;
$modal-backdrop-opacity:            .9;

$navbar-padding-y:                  1rem / 2 * 1.5;
$input-btn-border-width:            2px;

$container-max-widths: (
  sm: 650px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);


// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

::selection {
  background-color: var(--primary);
  color: white;
}

.modal-content {
  box-shadow: 0 .5rem 2rem rgba(darken($brand-primary, 20%), .5);
}
.modal-header {
  border-bottom: none;
  padding: $modal-inner-padding;
  padding-bottom: 0;
}

.title {
  margin-bottom: 1em;
  strong {
    font-size: 1.3em;
    @include media-breakpoint-down(xs) {
      font-size: 1.6rem;
    }
  }
  .p {
    font-size: 1rem;
    color: $body-color;
  }

  &.is-display-4 {
    font-size: 2.9rem;
    line-height: 1;
    margin-bottom: 1rem;
    @include media-breakpoint-down(xs) {
      font-size: 2rem;
    }
  }

  &.is-display-1 {
    font-size: 10rem;
    line-height: 1;
    margin-bottom: 0;
    @include media-breakpoint-down(xs) {
      font-size: 7rem;
    }
  }
}

.subtitle {
  &:not(:last-child) {
    margin-bottom: 1em;
  }
  .lead &, &.lead {
    font-size: 1.2em;
  }
  @include media-breakpoint-down(xs) {
    font-size: 1.2em;
  }
}

h1.title, h1.subtitle {
  &:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}

.image {
  display: block;
  position: relative;

  img {
    display: block;
    height: auto;
    width: 100%;
  }

  &.is-100 {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100 / 16 * 1rem);
    width: calc(100 / 16 * 1rem);
  }
  &.is-45 {
    max-width: calc(45 / 16 * 1rem);
    width: calc(45 / 16 * 1rem);
  }

  +.title {
    margin-top: 1em;
  }
}

.navbar {
  transition: 0.5s;
  font-weight: bolder;
  &.is-scrolled {
    box-shadow: 0px 0.15rem 0.5rem 0px rgba(0, 0, 0, 0.15);
  }

  &.bg-primary {
    background-color: var(--navbarInit) !important;
    &.is-scrolled {
      background-color: var(--primary) !important;
    }
  }

  &-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.89);
    border-bottom: 3px solid rgba(255,255,255,0);
    padding-bottom: calc(0.5rem - 3px);
    transition: 0.4s;

    &:active,
    &:focus,
    &:hover {
      color: white;
      @include media-breakpoint-up(lg) {
        border-bottom: 3px solid rgba(255,255,255,0.75);
      }
    }
  }

  &-brand {
    flex-grow: 1;
  }

  &-brand img {
    max-width: 155px;
  }

  @include media-breakpoint-up(lg) {
    &.is-scrolled {
      box-shadow: none;
    }
    &-expand-lg .navbar-nav .nav-link {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.fullwidth {
  width: 100%;
}

.hero, .section {
  overflow: hidden;
  position: relative;
  .container {
    z-index: 1;
    position: relative;
  }
}

.section {
  padding: 3rem 0rem;

  &.is-medium {
    padding-top: 5rem;
    padding-bottom: 5rem;

    .image-section-fullheight {
      margin-top: -5rem;
      margin-bottom: -5rem;
    }
  }
  &.is-large {
    padding-top: 7rem;
    padding-bottom: 6rem;

    .image-section-fullheight {
      margin-top: -7rem;
      // @include media-breakpoint-up(md) {
      margin-bottom: -6rem;
      // }
    }
  }

  &>a[id] {
    position: absolute;
    left: 0;
    top: -1rem;
  }

  @include media-breakpoint-up(md) {
    padding-left:2rem;
    padding-right: 2rem;

    &>a[id] {
      position: absolute;
      left: 0;
      top: 1px;
    }
  }

}

main > .footer {
  padding: 3rem 2rem 4rem 2rem;
  background-color: #eeeeee;
  hr {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

.hero, .section {
  &.is-primary {
    background-color: $brand-primary;
    color: white;

    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  &.is-orange {
    background-color: $brand-primary;
    color: white;
  }
  &.is-primary.is-bold {
    background: $brand-primary;
    background: linear-gradient(to bottom,  #e33512 0%,#f26921 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e33512', endColorstr='#f26921',GradientType=0 );
    background-color: #ea490f;
  }
  &.is-purple {
    background-color: $purple;
    color: white;
  }
  &.is-light {
    background-color: #f4f4f4;
  }
  &.is-primary, &.is-orange, &.is-purple, &.is-blue, &.is-info {
    a[href] {
      color: white;
      text-decoration: underline;
      &:hover, &:focus, &:active {
        color: mix(white, $brand-primary, 60%);
      }
    }

    .text-muted {
      color: white !important;
      opacity: 0.7;
    }
  }
}


.btn, .form-control {
  border-radius: 9999px;
  &-lg {
    padding: 0.35em 2em;
    height: auto;
    width: 100%;
  }
  &-md {
    padding: 0.3em 1.4em;
    height: auto;
  }
  @include media-breakpoint-up(sm) {
    &-lg {
      width: auto;
      padding: 0.7em 2em;
    }
    &-md {
      padding: 0.6em 1.4em;
    }
  }
}

.btn {
  &-primary {
    &:not(:disabled) {
      &:active,
      &:focus,
      &:hover {
        box-shadow: #E15023 0 0 1rem;
      }
    }
  }

  &-outline-primary {
    &:not(:disabled) {
      &:active,
      &:focus,
      &:hover {
        box-shadow: #E15023 0 0 1rem;
      }
    }
  }

  &-light {
    color: #e33512;
    background: white;

    &:not(:disabled) {
      &:focus,
      &:hover,
      &:active {
        box-shadow: #fff 0 0 1rem;
        background-color: white;
        border-color: white;
      }
    }
  }

  &-outline-light {
    &:not(:disabled) {
      &:focus,
      &:hover, &:active {
        box-shadow: #fff 0 0 1rem;
      }
    }
  }

  &-info, &-blue {
    &:not(:disabled) {
      &:hover, &:focus, &:active {
        box-shadow: #0079c1 0px 0px 1rem;
      }
    }
  }
}

.alert {
  border: none;
  padding-top: 2rem;
  padding-bottom: 2rem;

  &-body {
    max-width: 40em;
    @include media-breakpoint-up(sm) {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

#navbarNav {
  @include media-breakpoint-down(md) {
    padding-top: 2rem;
  }
}

.slab {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  padding: 1rem;
  transition: box-shadow 0.2s;

  &.is-outlined {
    border: 2px solid lighten($purple, 40%);
  }

  &.is-selectable:not(.is-active) {
    cursor: pointer;
    &:hover, &:focus {
      box-shadow: lighten($purple, 40%) 0 0 1rem;
    }
  }

  &.is-active {
    box-shadow: $purple 0 0 1rem;
    .title {
      color: $purple;
    }
  }

  @include media-breakpoint-up(md) {
    padding: 2rem 0;

    &.is-outlined {
      padding: 2rem;
    }
  }
}

.align-items-center-md {
  @include media-breakpoint-up(md) {
    align-items: center;
  }
}

img {
  max-width: 100%;
}

.align-items-baseline {
  align-items: baseline;
}

.back-floating-letters {
  position: absolute;
  z-index: 0;
  left: -5vw;
  top: -5vh;
  bottom: -5vh;
  right: -5vw;

}
.hero-primary-body {
  position: relative;
  z-index: 2;
  .title {
    margin-bottom: 13rem;
  }
  @include media-breakpoint-down(sm) {
    margin-top: -3rem;
    .title {
      margin-bottom: 52vw;
    }
    .btn {
      margin-bottom: -4rem;
    }
  }
}

.image-family {
  left: -50%;
  right: -7%;
  bottom: -5.1rem;

  position: absolute;
  z-index: 0;

  @include media-breakpoint-up(md) {
    left: 0;
    right: 0;
    bottom: -5.1rem;
  }
  @include media-breakpoint-up(lg) {
    left: 7%;
    right: 7%;
    bottom: -5.1rem;
  }
}

.tariff-title {
  margin-bottom: 0.4em;
}

.list-table {
  &-item {
    border-top: 2px solid #f1ad91;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    position: relative;
    p {
      margin-bottom: 0.5rem;
    }

    &:last-child {
      border-bottom: 2px solid #f1ad91;
    }
  }

  .price {
    font-size: 3.5rem;
    line-height: 3rem;
    padding-right: 0.5rem !important;
  }

  .price-value {
    line-height: 1.1;
    transform: translateY(0.05em);
  }
}

.hot {
  position: absolute;
  left: 0;
  top: 0;
  &>* {
    display: inline-block;
    background-color: var(--red);
    color: white;
    border-bottom-right-radius: 50px;
    padding: 0.1rem 1.3rem .1rem .4rem;
  }
}

.text-lead {
  font-size: 1.2em;
}

.is-centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.grid-tile {
  // box-shadow: 0px 0.5rem 0.5rem 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0.15rem 0.5rem 0px rgba(0, 0, 0, 0.15);
  // transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  border: 1px solid #eee;
  padding: 2rem;
  border-radius: 1.5rem;
  margin-bottom: 2rem;

  &-container {
    margin-top: calc(1.2 * 2.5rem);
    margin-bottom: calc(1.2 * 2.5rem - 2rem);
  }

  .image {
    transform: translateY(-0.08em);
  }
}

.stretch-items {
  align-items: stretch;
  display: flex;
  &>* {
    width: 100%;
  }
}

.--baseline-aligned-xl-tozero {
  @include media-breakpoint-up(xl) {
    margin-top: 2.7rem;
  }
}

.--svg-inline--fa {
  height: 1em;
  line-height: 1em;
  overflow-x: visible;
  overflow-y: visible;
  text-align: center;
  width: 1.328em;
}

@keyframes slide-in {
  0% { transform: translateX(-130%); opacity: 0; }
  100% { transform: translateX(0%); opacity: 1; }
}
.slide-left {
  animation: slide-in 1.7s forwards;
  animation-timing-function: ease-in-out;
}

.navbar-dark .navbar-toggler {
  border-color: rgba(255,255,255,0);
}

@include media-breakpoint-down(sm) {
  .navbar-brand {
    margin: 0;
    padding-right: 10px;

    img {
      max-height: 2.5rem;
    }
  }

  .xs-only-button {
    display: flex;
    .btn {
      line-height: 0.9;
      padding-left: 0.7em;
      padding-right: 0.7em;
      border-radius: 1.2em;
      padding-bottom: 0.3em;
    }
  }

  // .image img.parallax-layer, .back-floating-letters img {
  //   width: auto;
  //   max-width: initial;
  //   height: 100%;
  // }
  //
  // .main-guy, .main-guy-text {
  //   width: 147vw;
  //   margin-left: -12vw;
  // }
  //
  // .section-move-bg-img {
  //   position: absolute;
  //   right: -32vw;
  //   transform: translateY(19vw);
  // }

  .section-questions-bg {
    // transform: translate(26vw);
    transform: translate(19vw);
    z-index: 1;
    position: relative;
  }
  .section-questions-content {
    z-index: 2;
    position: relative;
    .btn {
      width: auto;
    }
  }
}

.has-label-inside-padding {
  padding-top: 1.33rem;
}

.crossed-out {
  opacity: 0.7;
  transform: scale(0.7) translate(0.48em, -0.15em);

  &:after,
  &:before {
    position: absolute;
    content: '';
    top: 42%;
    left: -7%;
    width: 100%;
    height: 4px;
    background: black;
  }
  &:before {
    transform: rotate(20deg);
  }
  &:after {
    transform: rotate(-20deg);
  }
}

.align-self {
  &-end {
    align-self: flex-end;
  }
}

.label-inside {
  pointer-events: none;
  padding: 0.3em 1.1em;
  position: absolute;
  transform: translateY(-2.1rem);
  color: #888;
  transition: transform 0.5s, opacity 0.2s, color 0.4s;
  font-size: 0.85em;

  input[data-hasvalue]+& {
    opacity: 0;
  }

  @include media-breakpoint-up(sm) {
    input[data-hasvalue]+&, input:focus+&, input:hover+& {
      transform: translateY(-4.3rem);
      opacity: 1;
      color: var(--brand-grey);
    }
  }
}

@include media-breakpoint-up(sm) {
  #city {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  #street, #building {
    border-radius: 0;
  }
  #apartment {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.btn-centered {
  width: 100%;
  display: block;

  @include media-breakpoint-up(sm) {
    width: auto;
    div:not(.d-flex)>& {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.hint-forbtn {
  color: $brand-grey;
  margin-top: 0.5rem;
  text-align: center;
}

h5.subtitle {
  opacity: 0.8;
}

.image-camera {
  // transform: translateX(22%);
  margin-bottom: 1rem;
  margin-top: -1rem;
  @include media-breakpoint-up(md) {
    margin-bottom: -2rem;
    margin-top: -2rem;
    transform: scaleX(-1);
  }
}
.image-watching-tv {
  &>* {
    margin-top: -16%;
  }
  .section.is-medium & {
    margin-left: -14%;
    @include media-breakpoint-down(md) {
      margin-bottom: -2rem;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: -1rem;
    }
  }
}

.image-stopwatch {
  margin-top: -12%;
}

.image-support-guy {
  margin-bottom: -5rem;
  margin-top: -2rem;
}

.form-group>.form-check {
  padding-left: 2.5rem;
}
.form-group .form-check-label {
  margin-left: 0.4rem;
}

ul, p {
  .container &:last-child {
    margin-bottom: 0;
  }
}
